<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP APP</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="stylesheet" href="index.css">
      <link rel="icon" type="icon/image" href="icon.jpeg">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="w-screen h-screen flex justify-center">
        <div class="flex flex-col justify-evenly items-center mb-20 w-3/4 max-md:w-full">
           <form class="flex flex-col gap-12 shadow-xl p-10 h-[500px] max-md:w-[90%] max-md:gap-7" action="\do_emotion" method="post">
             <div class="flex justify center"><h1 class="w-full font-bold text-[30px] text-center">NLP APP</h1></div>
             <div class="flex flex-col justify-evenly items-center gap-5">
                <div class="flex flex-col gap-2">
                      <label>Enter your text</label>
                      <textarea name="text" placeholder="Enter your text" class="border-2 px-2 h-[10rem] w-[250px] resize-none outline-none rounded-md border-gray-200"></textarea>
                </div>
                <div id="message">
                    {{message}}
                </div>
             <div class="flex flex-col justify-evenly mt-2 items-center gap-7">
                <button class="outline-none w-[20rem] bg-black text-white p-2 rounded-md">Analyze Emotion</button>

             </div>
           </form>
              <a href="home"><button type="button" class="outline-none w-[20rem] bg-black text-white p-2 rounded-md">Return to main menu</button></a>

        </div>

    </div>
    
</body>
</html>