<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="stylesheet" href="index.css">
      <link rel="icon" type="icon/image" href="icon.jpeg">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="w-screen h-screen flex justify-center">
        <div class="flex flex-col justify-evenly items-center mb-20 w-3/4 max-md:w-full max-md:mb-0">
           <div class="flex flex-col gap-12 shadow-xl p-10 h-[500px] w-1/2 max-md:w-[90%]">
             <div class="flex justify center"><h1 class="w-full font-bold text-[30px] text-center">NLP APP</h1></div>
             <div class="flex flex-col justify-evenly items-center gap-8">
                <div class="flex flex-col gap-2">
                     <a href="/sentiment"><button class="outline-none w-[20rem] bg-black text-white p-2 rounded-md">Sentiment Analysis</button></a>
                </div>
                <div class="flex flex-col gap-2">
                     <a href="/ner"><button class="outline-none w-[20rem] w-32 bg-black text-white p-2 rounded-md">Name Entity Recognition</button></a>
                </div>
                 <div class="flex flex-col gap-2">
                     <a href="/emotion"><button class="outline-none w-[20rem] w-32 bg-black text-white p-2 rounded-md">Emotion Detection</button></a>
                </div>
                 <div class="flex flex-col gap-2">
                    <a href="/"> <button class="outline-none w-[20rem] w-32 bg-black text-white p-2 rounded-md">Log Out</button></a>
                </div>
             </div>
           </div>
        </div>

    </div>
    
</body>
</html>